
#container1
{
   position: relative; 
   margin-left: 10px;
   margin-top: 5px;
   
}

.interactive
{
    position: absolute;
    
    
}

.text
{
    position: absolute;
    justify-content: center; 
    margin-top: 170px; 
    background-color: white;
    margin-right: -150%;
    margin-left: 480px;
    height: 250px;
    
}

.ecrit
{
    text-align: justify;
    margin-top:16px;
    margin-left: 34px;
    margin-right: 10px;
    padding-right: 40px ;
    font-size: 20px;
    height:50px;
}

.title
{
    margin-right:2px;
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 90px;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 33px;
}

 #container2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px; 
    width: 100%;
    position: relative;
    margin-left: 9px;
    
} 

.img1
{
    position: relative;
    margin-top: 600px;
    margin-left: 82px;
    height: 300px;
    /* width: 95%; */
    z-index: 0;
}

.titre1
{
    position: absolute;
    margin-top: -62px;
    margin-left: 100px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

 .creations
{
    position: absolute;
    margin-top: 550px;
    margin-left: 80px;
} 

.fond
{
    background-color: white;
    position: absolute  ;
    color: black;
    border: solid black 1px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: 755px;
    margin-top:550px ;
    
}

.img2
{
    /* afin de ne pas avoir de si grosse margin-top il me fallait mettre le 
    container2 en position absolute comme ça j'aurai juste bougé le container avec
    sa margin-top */
    position: relative;
    margin-top: 600px;
    margin-left: 30px;
    height: 300px;
    /* width: 80%; */
}

.titre2
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img3
{
    position: relative;
    margin-top: 600px;
    margin-left: 30px;
    height: 300px;
    /* width: 80%; */
}

.titre3
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img4
{
    position: relative;
    margin-top: 600px;
    margin-left: 30px;
    height: 300px;
    /* width: 80%; */
}

.titre4
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img5
{
    position: relative;
    margin-top: 40px;
    margin-left: 83px;
    height: 300px;
    /* width: 80%; */
}

.titre5
{
    position: absolute;
    margin-top: -62px;
    margin-left: 100px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img6
{
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    height: 300px;
    /* width: 81%; */
}

.titre6
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img7
{
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    height: 300px;
    /* width: 80%; */
}

.titre7
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img8
{
    position: relative;
    margin-top: 40px;
    margin-left: 30px;
    height: 300px;
    /* width: 78%; */
}

.titre8
{
    position: absolute;
    margin-top: -62px;
    margin-left: 50px;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bas{

    background-color: black;
    color: white;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    width: 100%;
   
}

.left{
    width: 90%;
}

.item1{
    /* margin-left: 5px; */
}

.item2{
    /* margin-left: 6px; */
}

.right{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    
}

#container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 70px;
    justify-content: space-between;
    margin-left: 87px;
    
}

.loop{
    margin-bottom: 30px;
    padding-top: 25px;
    margin-left: 90px;
    font-weight: bold;
}

.all {
    margin-left: 20px;
}

.reserved {
    margin-left: 10px;
    margin-bottom: 19px;
    /* padding-right: 15px; */
  
} 

 .fb{
    margin-left: 17px;
    margin-top: 25px;
    
}

.tw{
    margin-left: 50px;
    margin-top: 25px;
    
}

.pint{
    margin-left: 50px;
    margin-top: 25px;
    
}

.insta{
    margin-left: 50px;
    margin-top: 25px;
}

.attribution{
    background-color: black;
    color: white;
   padding-bottom: 10px;
}


@media (max-width:800px){

    /*  le fait que j'ai mis mon container2 en absolute dans mon média query fait que 
    il peut maintenant bouger tout seul au dessus du container1 qui lui est en position
    relative */
    #container2 {
        flex-direction: column;
        position: absolute;
        margin-top: 150px;
      
    }

    .img1 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;

        
    }

    .img2 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .img3 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
      
    }

    .img4 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .img5 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .img6 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .img7 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .img8 {
        width: 340px;
        height: 160px; 
        margin-left: 5px;
        margin-top: 40px; 
        
    }

    .interactive{
        display: flex;
        flex-direction: column;
        width: 420px;
        height: 100px;
        margin-left: -6px;
        margin-bottom: 5px;
    }

    #container1 {
        margin-left: 30px;
        /* margin-top: 10px; */
    }

    .text{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100px;
        margin-left: -10px;
        margin-top: 320px;
    }
    
    .title{
        display: flex;
        flex-direction: column;
        margin-left: -15px;
        margin-top: 220px;
        width: 380px;
        font-size: 40px;
        text-align: center;
    }

    .ecrit
    {
        display: flex;
        margin-top: 5px;
        margin-left: 2px;
        width: 340px;
        text-align: justify;
        margin-bottom: 290px;
    }

    .creations{
        display: flex;
        flex-direction: column;
        margin-left: 28px;
        letter-spacing: 5px;
        font-weight: lighter;
        margin-top: 560px;
        text-align: center;
     
    }

    .fond {
        margin-top: 2460px;
        margin-bottom: 30px;
        text-align: center;
        color: black;
        margin-left: 130px;
      
    }
    
    .bas{
         margin-top: 2500px;
         position: absolute;
         width: 100%;
         
    }

    .titre1{
        margin-left: 30px;
    }

    .titre2{
        margin-left: 30px;
    }

    .titre3{
        margin-left: 30px;
    }

    .titre4{
        margin-left: 30px;
    }

    .titre5{
        margin-left: 30px;
    }

    .titre6{
        margin-left: 30px;
    }

    .titre7{
        margin-left: 30px;
    }

    .titre8{
        margin-left: 30px;
    }

    .bas{
        display: flex;
        flex-direction: column;
    }

    .left{
        display: flex;
        flex-direction: column;
        width: 30px;
       margin-left: 70px;
       margin-top: 10px;
       /* justify-content: space-between; */
    }

    .right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        /* margin-left: 190px; */
        width: 100%;
        margin-top: 10px;
        margin-left: 1px;
        

    }

    .fb{

        margin-left: 60px;
    }

    .loop{
        
        margin-left: 60px;
    }

    .reserved{
        margin-left: 35px;
        margin-top: 15px;
    }


}